@{
    Layout="~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-3"></div>
<div class="Col-xs-8">

    <a href="#" target="_blank">Why sun is Hot?</a>
    <hr />
    <p>asdasd</p>
    <a href="#" target="_blank" style="margin-left:650px">Why moon is white?</a>
    <hr />
    <a href="#" target="_blank">Why moon is white?</a>
    <hr />
     <p>asdasd</p>
    <a href="#" target="_blank" style="margin-left:650px">Why moon is white?</a>
    <hr />
    <a href="#" target="_blank">Why moon is white?</a>
     <p>asdasd</p>
    <a href="#" target="_blank" style="margin-left:650px">Why moon is white?</a>
    <hr />
    <a href="#" target="_blank">Why moon is white?</a>
     <p>asdasd</p>
    <a href="#" target="_blank" style="margin-left:650px">Why moon is white?</a>
    <hr />
    <a href="#" target="_blank">Why moon is white?</a>
     <p>asdasd</p>
    <a href="#" target="_blank" style="margin-left:650px">Why moon is white?</a>
    <hr />
    <a href="#" target="_blank">Why moon is white?</a>
     <p>asdasd</p>
    <a href="#" target="_blank" style="margin-left:650px">Why moon is white?</a>
    <hr />
    <a href="#" target="_blank">Why moon is white?</a>
     <p>asdasd</p>
    <a href="#" target="_blank" style="margin-left:650px">Why moon is white?</a>
    <hr />
    <a href="#" target="_blank">Why moon is white?</a>
     <p>asdasd</p>
    <a href="#" target="_blank" style="margin-left:650px">Why moon is white?</a>
    <hr />
    <a href="#" target="_blank">Why moon is white?</a>
     <p>asdasd</p>
    <a href="#" target="_blank" style="margin-left:650px">Why moon is white?</a>
    <hr />
     <p>asdasd</p>
    <a href="#" target="_blank" style="margin-left:650px">Why moon is white?</a>
    <hr />
    <a href="#" target="_blank">Why moon is white?</a>
    <a href="#" target="_blank">Why moon is white?</a>
</div>